body {
    font-family: 'VT323', monospace;
    background: black;
    color: lawngreen;
}

#linus-image {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    max-height: 250px;
}

#content {
    min-height: calc(100vh - 50px);
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

#screen {
    border: 2px solid lawngreen;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    margin: 10px auto;
    height: 200px;
    font-size: 1.25em;
}

#tweet {
    font-size: 1.5em;
}

#shuffle {
    font-size: 1.25em;
    margin: 0 0 0 50px;
    border: 2px solid lawngreen;
    border-radius: 5px;
    padding: 5px;
}

footer {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    height: 50px;
}

#cursor {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
	50% { opacity: 0.0; }
}

@-webkit-keyframes blinker {  
	50% { opacity: 0.0; }
}

@keyframes blinker {  
	50% { opacity: 0.0; }
}